<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>player List</title>

</head>
<body>
	<h1>player List</h1>
	<img src="https://cdn.sportdataapi.com/images/soccer/players/529.png" alt="Messi">
<img src="https://cdn.sportdataapi.com/images/soccer/players/548.png" alt="Cristiano Ronaldo">
<img src="https://cdn.sportdataapi.com/images/soccer/players/2163.png" alt="Mbappé">
<img src="https://cdn.sportdataapi.com/images/soccer/players/5929.png" alt="Haaland">

	<div>
	    <a href="/player/add">Add player</a>
		<img src="718.jpg">
	</div>
	<table>
		
			<tr>
				<th>playername</th>
				<th>playnumber</th>
				<th>status</th>
				<th>age</th>
				<th>usedfoot</th>
				<th>height</th>
				<th>weight</th>
                <th>teamname</th>
				<th>goals</th>
				<th>assists</th>
				<th>appearances</th>
				<th>startings</th>
				<th>nogoaltimes</th>
				<th>averagecomments</th>
                <th>playposition</th>
				<th>edit</th>
				<th>delete</th>
			</tr>
		
		
			{% for player in players %}
			<tr>
				<td>{{ player[0] }}</td>
				<td>{{ player[1] }}</td>
				<td>{{ player[2] }}</td>
				<td>{{ player[3] }}</td>
				<td>{{ player[4]}}</td>
				<td>{{ player[5] }}</td>
                <td>{{ player[6] }}</td>
				<td>{{ player[7] }}</td>
				<td>{{ player[8] }}</td>
				<td>{{ player[9] }}</td>
				<td>{{ player[10]}}</td>
				<td>{{ player[11] }}</td>
                <td>{{ player[12] }}</td>
				<td>{{ player[13]}}</td>
				<td>{{ player[14] }}</td>
				<td><a href="{{ url_for('edit_player', playername=player[0]) }}">Edit</a></td>
				<td><a href="{{ url_for('delete_player', playername=player[0]) }}">Delete</a></td>
			</tr>
			{% endfor %}
		
	</table>
	<li><a href="{{ url_for('index') }}">View all</a></li>
</body>
</html>